*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, red, yellow, red);
}
.calc{
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: gray;
    width: 21%;
    /* height: 60vh; */
    margin: 10% auto;
    padding: 15px;
}
.input{
    width: 93%;
    height: 8vh;
    font-size: xx-large;
    margin: 4%;
    padding: 2px;
    background-color: rgb(197, 195, 195);
    color: black;
    border-radius: 10px;
    border: none;
    text-align: right;

}
.btn{
    width: 23%;
    height: 6vh;
    margin: 1%;
    font-size: larger;
    border-radius: 50px;
    border: none;
    background-color: white;
}